/*
Author: Quique Fdez Guerra
Twitter: @CKGrafico
Microsoft Guidelines: https://msdn.microsoft.com/en-us/library/windows/apps/jj841126.aspx
GitHub: https://github.com/CKGrafico/Segoe-mdl2-assets-css
*/

[class^="mdl2-"], [class*="mdl2-"] {
  font-family: 'Segoe MDL2 Assets';
}

[class^="mdl2-"]::before, [class*="mdl2-"]::before {
  font-size: 1.8pc;
}

mdl2-heart-legacy::before { content: '\e006'; } 
mdl2-heart-fill-legacy::before { content: '\e0a5'; } 
mdl2-heart-broken-legacy::before { content: '\e007'; } 
mdl2-heart-fill-zero-width-legacy::before { content: '\e00b'; } 
mdl2-heart-broken-zero-width-legacy::before { content: '\e00c'; } 
mdl2-rating-star-legacy::before { content: '\e224'; } 
mdl2-rating-star-fill-legacy::before { content: '\e0b4'; } 
mdl2-rating-star-fill-zero-width-legacy::before { content: '\e00a'; } 
mdl2-rating-star-fill-reduced-padding-HTML-legacy::before { content: '\e082'; } 
mdl2-rating-star-fill-small-legacy::before { content: '\e0b5'; } 
mdl2-half-star-left { content: '\e7c6'; } 
mdl2-half-star-right { content: '\e7c7'; } 
mdl2-check-mark-legacy::before { content: '\e001'; } 
mdl2-checkbox-fill-legacy::before { content: '\e002'; } 
mdl2-checkbox-legacy::before { content: '\e003'; } 
mdl2-checkbox-indeterminate-legacy::before { content: '\e004'; } 
mdl2-checkbox-composite-reversed-legacy::before { content: '\e005'; } 
mdl2-check-mark-zero-width-legacy::before { content: '\e008'; } 
mdl2-checkbox-fill-zero-width-legacy::before { content: '\e009'; } 
mdl2-checkbox-composite-legacy::before { content: '\e0a2'; } 
mdl2-checkbox::before { content: '\e739'; } 
mdl2-checkbox-composite::before { content: '\e73a'; } 
mdl2-checkbox-fill::before { content: '\e73b'; } 
mdl2-checkbox-indeterminate::before { content: '\e73c'; } 
mdl2-checkbox-composite-reversed::before { content: '\e73d'; } 
mdl2-check-mark::before { content: '\e73e'; } 
mdl2-comment-legacy::before { content: '\e134'; } 
mdl2-favorite-legacy::before { content: '\e113'; } 
mdl2-unfavorite-legacy::before { content: '\e195'; } 
mdl2-favorite-star::before { content: '\e734'; } 
mdl2-favorite-star-fill::before { content: '\e735'; } 
mdl2-unfavorite::before { content: '\e8d9'; } 
mdl2-like-legacy::before { content: '\e19f'; } 
mdl2-dislike-legacy::before { content: '\e19e'; } 
mdl2-like-dislike-legacy::before { content: '\e19d'; } 
mdl2-video-legacy::before { content: '\e116'; } 
mdl2-video::before { content: '\e714'; } 
mdl2-mail-message-legacy::before { content: '\e20b'; } 
mdl2-reply-legacy::before { content: '\e248'; } 
mdl2-favorite-2-legacy::before { content: '\e249'; } 
mdl2-unfavorite-2-legacy::before { content: '\e24e'; } 
mdl2-mobile-contact-legacy::before { content: '\e25a'; } 
mdl2-blocked-legacy { content: '\e25b'; } 
mdl2-typing-indicator-legacy { content: '\e25c'; } 
mdl2-presence-chicklet-video-legacy { content: '\e25d'; } 
mdl2-presence-chicklet-legacy { content: '\e25e'; } 
mdl2-scroll-chevron-left-legacy { content: '\e00e'; } 
mdl2-scroll-chevron-right-legacy { content: '\e00f'; } 
mdl2-scroll-chevron-up-legacy { content: '\e010'; } 
mdl2-scroll-chevron-down-legacy { content: '\e011'; } 
mdl2-scroll-chevron-left-bold-legacy { content: '\e016'; } 
mdl2-scroll-chevron-right-bold-legacy { content: '\e017'; } 
mdl2-scroll-chevron-up-bold-legacy { content: '\e018'; } 
mdl2-scroll-chevron-down-bold-legacy { content: '\e019'; } 
mdl2-back-bttn-arrow-2-0-legacy { content: '\e0c4'; } 
mdl2-back-bttn-arrow-4-2-legacy { content: '\e0a6'; } 
mdl2-back-bttn-mirrored-arrow-2-0-legacy { content: '\e0ad'; } 
mdl2-back-bttn-mirrored-arrow-4-2-legacy { content: '\e0ab'; } 
mdl2-chrome-back { content: '\e830'; } 
mdl2-chrome-back-mirrored { content: '\ea47'; } 
mdl2-arrow-HTML-legacy { content: '\e0d5'; } 
mdl2-arrow-HTML-mirrored-legacy { content: '\e0ae'; } 
mdl2-accept { content: '\e8fb'; } 
mdl2-accounts { content: '\e910'; } 
mdl2-add { content: '\e710'; } 
mdl2-add-friend { content: '\e8fa'; } 
mdl2-admin { content: '\e7ef'; } 
mdl2-align-center { content: '\e8e3'; } 
mdl2-align-left { content: '\e8e4'; } 
mdl2-alignright { content: '\e8e2'; } 
mdl2-all-apps { content: '\e71d'; } 
mdl2-attach { content: '\e723'; } 
mdl2-attach-camera { content: '\e8a2'; } 
mdl2-audio { content: '\e8d6'; } 
mdl2-back { content: '\e72b'; } 
mdl2-back-to-window { content: '\e73f'; } 
mdl2-block-contact { content: '\e8f8'; } 
mdl2-bold { content: '\e8dd'; } 
mdl2-bookmarks { content: '\e8a4'; } 
mdl2-browse-photos { content: '\e7c5'; } 
mdl2-bulleted-list { content: '\e8fd'; } 
mdl2-calculator { content: '\e8ef'; } 
mdl2-calendar { content: '\e787'; } 
mdl2-calendar-day { content: '\e8bf'; } 
mdl2-calendar-reply { content: '\e8f5'; } 
mdl2-calendar-week { content: '\e8c0'; } 
mdl2-camera { content: '\e722'; } 
mdl2-cancel { content: '\e711'; } 
mdl2-caption { content: '\e8ba'; } 
mdl2-c-c { content: '\e7f0'; } 
mdl2-cellphone { content: '\e8ea'; } 
mdl2-characters { content: '\e8c1'; } 
mdl2-clear { content: '\e894'; } 
mdl2-clear-selection { content: '\e8e6'; } 
mdl2-close-pane { content: '\e89f'; } 
mdl2-cloud { content: '\e753'; } 
mdl2-comment { content: '\e90a'; } 
mdl2-contact { content: '\e77b'; } 
mdl2-contact-2 { content: '\e8d4'; } 
mdl2-contact-info { content: '\e779'; } 
mdl2-contact-presence { content: '\e8cf'; } 
mdl2-copy { content: '\e8c8'; } 
mdl2-crop { content: '\e7a8'; } 
mdl2-cut { content: '\e8c6'; } 
mdl2-delete { content: '\e74d'; } 
mdl2-directions { content: '\e8f0'; } 
mdl2-disable-updates { content: '\e8d8'; } 
mdl2-disconnect-drive { content: '\e8cd'; } 
mdl2-dislike { content: '\e8e0'; } 
mdl2-dock-bottom { content: '\e90e'; } 
mdl2-dock-left { content: '\e90c'; } 
mdl2-dock-right { content: '\e90d'; } 
mdl2-document { content: '\e8a5'; } 
mdl2-download { content: '\e896'; } 
mdl2-edit { content: '\e70f'; } 
mdl2-emoji { content: '\e899'; } 
mdl2-emoji-2 { content: '\e76e'; } 
mdl2-favorite-list { content: '\e728'; } 
mdl2-favorite-star { content: '\e734'; } 
mdl2-favorite-star-fill { content: '\e735'; } 
mdl2-filter { content: '\e71c'; } 
mdl2-find-legacy { content: '\e11a'; } 
mdl2-flag { content: '\e7c1'; } 
mdl2-folder { content: '\e8b7'; } 
mdl2-font { content: '\e8d2'; } 
mdl2-fontcolor { content: '\e8d3'; } 
mdl2-font-decrease { content: '\e8e7'; } 
mdl2-font-increase { content: '\e8e8'; } 
mdl2-font-size { content: '\e8e9'; } 
mdl2-forward { content: '\e72a'; } 
mdl2-four-bars { content: '\e908'; } 
mdl2-full-screen { content: '\e740'; } 
mdl2-globe { content: '\e774'; } 
mdl2-go { content: '\e8ad'; } 
mdl2-go-to-start { content: '\e8fc'; } 
mdl2-go-to-today { content: '\e8d1'; } 
mdl2-hangup { content: '\e778'; } 
mdl2-help { content: '\e897'; } 
mdl2-hide-BCC { content: '\e8c5'; } 
mdl2-highlight { content: '\e7e6'; } 
mdl2-home { content: '\e80f'; } 
mdl2-import { content: '\e8b5'; } 
mdl2-import-all { content: '\e8b6'; } 
mdl2-important { content: '\e8c9'; } 
mdl2-italic { content: '\e8db'; } 
mdl2-keyboard-classic { content: '\e765'; } 
mdl2-leave-chat { content: '\e89b'; } 
mdl2-library { content: '\e8f1'; } 
mdl2-like { content: '\e8e1'; } 
mdl2-like-dislike { content: '\e8df'; } 
mdl2-link { content: '\e71b'; } 
mdl2-list { content: '\ea37'; } 
mdl2-location { content: '\e81d'; } 
mdl2-mail { content: '\e715'; } 
mdl2-mail-fill { content: '\e8a8'; } 
mdl2-mail-forward { content: '\e89c'; } 
mdl2-mail-reply { content: '\e8ca'; } 
mdl2-mail-reply-all { content: '\e8c2'; } 
mdl2-manage { content: '\e912'; } 
mdl2-map-drive { content: '\e8ce'; } 
mdl2-mappin { content: '\e707'; } 
mdl2-memo { content: '\e77c'; } 
mdl2-message { content: '\e8bd'; } 
mdl2-microphone { content: '\e720'; } 
mdl2-more { content: '\e712'; } 
mdl2-move-to-folder { content: '\e8de'; } 
mdl2-music-info { content: '\e90b'; } 
mdl2-mute { content: '\e74f'; } 
mdl2-new-folder { content: '\e8f4'; } 
mdl2-new-window { content: '\e78b'; } 
mdl2-next { content: '\e893'; } 
mdl2-one-bar { content: '\e905'; } 
mdl2-open-file { content: '\e8e5'; } 
mdl2-open-local { content: '\e8da'; } 
mdl2-open-pane { content: '\e8a0'; } 
mdl2-open-with { content: '\e7ac'; } 
mdl2-orientation { content: '\e8b4'; } 
mdl2-other-user { content: '\e7ee'; } 
mdl2-outline-star-legacy { content: '\e1ce'; } 
mdl2-page { content: '\e7c3'; } 
mdl2-paste { content: '\e77f'; } 
mdl2-pause { content: '\e769'; } 
mdl2-people { content: '\e716'; } 
mdl2-permissions { content: '\e8d7'; } 
mdl2-phone { content: '\e717'; } 
mdl2-phone-book { content: '\e780'; } 
mdl2-pin { content: '\e718'; } 
mdl2-play { content: '\e768'; } 
mdl2-post-update { content: '\e8f3'; } 
mdl2-preview { content: '\e8ff'; } 
mdl2-preview-link { content: '\e8a1'; } 
mdl2-previous { content: '\e892'; } 
mdl2-priority { content: '\e8d0'; } 
mdl2-protected-document { content: '\e8a6'; } 
mdl2-read { content: '\e8c3'; } 
mdl2-redo { content: '\e7a6'; } 
mdl2-refresh { content: '\e72c'; } 
mdl2-remote { content: '\e8af'; } 
mdl2-remove { content: '\e738'; } 
mdl2-rename { content: '\e8ac'; } 
mdl2-repair { content: '\e90f'; } 
mdl2-repeat-all { content: '\e8ee'; } 
mdl2-repeat-one { content: '\e8ed'; } 
mdl2-report-hacked { content: '\e730'; } 
mdl2-reshare { content: '\e8eb'; } 
mdl2-rotate { content: '\e7ad'; } 
mdl2-rotate-camera { content: '\e89e'; } 
mdl2-save { content: '\e74e'; } 
mdl2-save-local { content: '\e78c'; } 
mdl2-scan { content: '\e8fe'; } 
mdl2-select-all { content: '\e8b3'; } 
mdl2-send { content: '\e724'; } 
mdl2-set-lock-screen { content: '\e7b5'; } 
mdl2-set-tile { content: '\e97b'; } 
mdl2-settings { content: '\e713'; } 
mdl2-share { content: '\e72d'; } 
mdl2-shop { content: '\e719'; } 
mdl2-show-BCC { content: '\e8c4'; } 
mdl2-show-results { content: '\e8bc'; } 
mdl2-shuffle { content: '\e8b1'; } 
mdl2-slideshow { content: '\e786'; } 
mdl2-solid-star-legacy { content: '\e1cf'; } 
mdl2-sort { content: '\e8cb'; } 
mdl2-stop { content: '\e71a'; } 
mdl2-street { content: '\e913'; } 
mdl2-switch { content: '\e8ab'; } 
mdl2-switch-apps { content: '\e8f9'; } 
mdl2-sync { content: '\e895'; } 
mdl2-sync-folder { content: '\e8f7'; } 
mdl2-tag { content: '\e8ec'; } 
mdl2-three-bars { content: '\e907'; } 
mdl2-touch-pointer { content: '\e7c9'; } 
mdl2-trim { content: '\e78a'; } 
mdl2-two-bars { content: '\e906'; } 
mdl2-two-page { content: '\e89a'; } 
mdl2-underline { content: '\e8dc'; } 
mdl2-undo { content: '\e7a7'; } 
mdl2-un-favorite { content: '\e8d9'; } 
mdl2-un-pin { content: '\e77a'; } 
mdl2-un-sync-folder { content: '\e8f6'; } 
mdl2-up { content: '\e74a'; } 
mdl2-upload { content: '\e898'; } 
mdl2-video-chat { content: '\e8aa'; } 
mdl2-view { content: '\e890'; } 
mdl2-view-all { content: '\e8a9'; } 
mdl2-volume { content: '\e767'; } 
mdl2-webcam { content: '\e8b8'; } 
mdl2-world { content: '\e909'; } 
mdl2-zero-bars { content: '\e904'; } 
mdl2-zoom { content: '\e71e'; } 
mdl2-zoom-in { content: '\e8a3'; } 
mdl2-zoom-out { content: '\e71f'; } 
mdl2-battery-unknown { content: '\e996'; } 
mdl2-battery-0 { content: '\e850'; } 
mdl2-battery-1 { content: '\e851'; } 
mdl2-battery-2 { content: '\e852'; } 
mdl2-battery-3 { content: '\e853'; } 
mdl2-battery-4 { content: '\e854'; } 
mdl2-battery-5 { content: '\e855'; } 
mdl2-battery-6 { content: '\e856'; } 
mdl2-battery-7 { content: '\e857'; } 
mdl2-battery-8 { content: '\e858'; } 
mdl2-battery-9 { content: '\e859'; } 
mdl2-battery-10 { content: '\e83f'; } 
mdl2-battery-charging-0 { content: '\e85a'; } 
mdl2-battery-charging-1 { content: '\e85b'; } 
mdl2-battery-charging-2 { content: '\e85c'; } 
mdl2-battery-charging-3 { content: '\e85d'; } 
mdl2-battery-charging-4 { content: '\e85e'; } 
mdl2-battery-charging-5 { content: '\e85f'; } 
mdl2-battery-charging-6 { content: '\e860'; } 
mdl2-battery-charging-7 { content: '\e861'; } 
mdl2-battery-charging-8 { content: '\e862'; } 
mdl2-battery-charging-9 { content: '\e83e'; } 
mdl2-battery-charging-10 { content: '\ea93'; } 
mdl2-battery-saver-0 { content: '\e863'; } 
mdl2-battery-saver-1 { content: '\e864'; } 
mdl2-battery-saver-2 { content: '\e865'; } 
mdl2-battery-saver-3 { content: '\e866'; } 
mdl2-battery-saver-4 { content: '\e867'; } 
mdl2-battery-saver-5 { content: '\e868'; } 
mdl2-battery-saver-6 { content: '\e869'; } 
mdl2-battery-saver-7 { content: '\e86a'; } 
mdl2-battery-saver-8 { content: '\e86b'; } 
mdl2-battery-saver-9 { content: '\ea94'; } 
mdl2-battery-saver-10 { content: '\ea95'; }