/*
Author: Quique Fdez Guerra
Twitter: @CKGrafico
Microsoft Guidelines: https://msdn.microsoft.com/en-us/library/windows/apps/jj841126.aspx
GitHub: https://github.com/CKGrafico/Segoe-mdl2-assets-css
*/

[class^="mdl2-"], [class*="mdl2-"] {
  font-family: 'Segoe MDL2 Assets';
}

[class^="mdl2-"]::before, [class*="mdl2-"]::before {
  font-size: 1.8pc;
}

.mdl2-heart-legacy::before { content: '\e006'; }
.mdl2-heart-fill-legacy::before { content: '\e0a5'; }
.mdl2-heart-broken-legacy::before { content: '\e007'; }
.mdl2-heart-fill-zero-width-legacy::before { content: '\e00b'; }
.mdl2-heart-broken-zero-width-legacy::before { content: '\e00c'; }
.mdl2-rating-star-legacy::before { content: '\e224'; }
.mdl2-rating-star-fill-legacy::before { content: '\e0b4'; }
.mdl2-rating-star-fill-zero-width-legacy::before { content: '\e00a'; }
.mdl2-rating-star-fill-reduced-padding-HTML-legacy::before { content: '\e082'; }
.mdl2-rating-star-fill-small-legacy::before { content: '\e0b5'; }
.mdl2-half-star-left { content: '\e7c6'; }
.mdl2-half-star-right { content: '\e7c7'; }
.mdl2-check-mark-legacy::before { content: '\e001'; }
.mdl2-checkbox-fill-legacy::before { content: '\e'; }
.mdl2-checkbox-legacy::before { content: '\e'; }
.mdl2-checkbox-indeterminate-legacy::before { content: '\e'; }
.mdl2-checkbox-composite-reversed-legacy::before { content: '\e'; }
.mdl2-check-mark-zero-width-legacy::before { content: '\e'; }
.mdl2-checkbox-fill-zero-width-legacy::before { content: '\e'; }
.mdl2-checkbox-composite-legacy::before { content: '\e'; }
.mdl2-checkbox::before { content: '\e'; }
.mdl2-checkbox-composite::before { content: '\e'; }
.mdl2-checkbox-fill::before { content: '\e'; }
.mdl2-checkbox-indeterminate::before { content: '\e'; }
.mdl2-checkbox-composite-reversed::before { content: '\e'; }
.mdl2-check-mark::before { content: '\e'; }
.mdl2-comment-legacy::before { content: '\e'; }
.mdl2-favorite-legacy::before { content: '\e'; }
.mdl2-unfavorite-legacy::before { content: '\e'; }
.mdl2-favorite-star::before { content: '\e'; }
.mdl2-favorite-star-fill::before { content: '\e'; }
.mdl2-unfavorite::before { content: '\e'; }
.mdl2-like-legacy::before { content: '\e'; }
.mdl2-dislike-legacy::before { content: '\e'; }
.mdl2-like-dislike-legacy::before { content: '\e'; }
.mdl2-video-legacy::before { content: '\e'; }
.mdl2-video::before { content: '\e'; }
.mdl2-mail-message-legacy::before { content: '\e'; }
.mdl2-reply-legacy::before { content: '\e'; }
.mdl2-favorite-2-legacy::before { content: '\e'; }
.mdl2-unfavorite-2-legacy::before { content: '\e'; }
.mdl2-mobile-contact-legacy::before { content: '\e'; }
.mdl2-blocked-legacy { content: '\e'; }
.mdl2-typing-indicator-legacy { content: '\e'; }
.mdl2-presence-chicklet-video-legacy { content: '\e'; }
.mdl2-presence-chicklet-legacy { content: '\e'; }
.mdl2-scroll-chevron-left-legacy { content: '\e'; }
.mdl2-scroll-chevron-right-legacy { content: '\e'; }
.mdl2-scroll-chevron-up-legacy { content: '\e'; }
.mdl2-scroll-chevron-down-legacy { content: '\e'; }
.mdl2-scroll-chevron-left-bold-legacy { content: '\e'; }
.mdl2-scroll-chevron-right-bold-legacy { content: '\e'; }
.mdl2-scroll-chevron-up-bold-legacy { content: '\e'; }
.mdl2-scroll-chevron-down-bold-legacy { content: '\e'; }
.mdl2-back-bttn-arrow-2-0-legacy { content: '\e'; }
.mdl2-back-bttn-arrow-4-2-legacy { content: '\e'; }
.mdl2-back-bttn-mirrored-arrow-2-0-legacy { content: '\e'; }
.mdl2-back-bttn-mirrored-arrow-4-2-legacy { content: '\e'; }
.mdl2-chrome-back { content: '\e'; }
.mdl2-chrome-back-mirrored { content: '\e'; }
.mdl2-arrow-HTML-legacy { content: '\e'; }
.mdl2-arrow-HTML-mirrored-legacy { content: '\e'; }
.mdl2-accept { content: '\e'; }
.mdl2-accounts { content: '\e'; }
.mdl2-add { content: '\e'; }
.mdl2-add-friend { content: '\e'; }
.mdl2-admin { content: '\e'; }
.mdl2-align-center { content: '\e'; }
.mdl2-align-left { content: '\e'; }
.mdl2-alignright { content: '\e'; }
.mdl2-all-apps { content: '\e'; }
.mdl2-attach { content: '\e'; }
.mdl2-attach-camera { content: '\e'; }
.mdl2-audio { content: '\e'; }
.mdl2-back { content: '\e'; }
.mdl2-back-to-window { content: '\e'; }
.mdl2-block-contact { content: '\e'; }
.mdl2-bold { content: '\e'; }
.mdl2-bookmarks { content: '\e'; }
.mdl2-browse-photos { content: '\e'; }
.mdl2-bulleted-list { content: '\e'; }
.mdl2-calculator { content: '\e'; }
.mdl2-calendar { content: '\e'; }
.mdl2-calendar-day { content: '\e'; }
.mdl2-calendar-reply { content: '\e'; }
.mdl2-calendar-week { content: '\e'; }
.mdl2-camera { content: '\e'; }
.mdl2-cancel { content: '\e'; }
.mdl2-caption { content: '\e'; }
.mdl2-c-c { content: '\e'; }
.mdl2-cellphone { content: '\e'; }
.mdl2-characters { content: '\e'; }
.mdl2-clear { content: '\e'; }
.mdl2-clear-selection { content: '\e'; }
.mdl2-close-pane { content: '\e'; }
.mdl2-cloud { content: '\e'; }
.mdl2-comment { content: '\e'; }
.mdl2-contact { content: '\e'; }
.mdl2-contact-2 { content: '\e'; }
.mdl2-contact-info { content: '\e'; }
.mdl2-contact-presence { content: '\e'; }
.mdl2-copy { content: '\e'; }
.mdl2-crop { content: '\e'; }
.mdl2-cut { content: '\e'; }
.mdl2-delete { content: '\e'; }
.mdl2-directions { content: '\e'; }
.mdl2-disable-updates { content: '\e'; }
.mdl2-disconnect-drive { content: '\e'; }
.mdl2-dislike { content: '\e'; }
.mdl2-dock-bottom { content: '\e'; }
.mdl2-dock-left { content: '\e'; }
.mdl2-dock-right { content: '\e'; }
.mdl2-document { content: '\e'; }
.mdl2-download { content: '\e'; }
.mdl2-edit { content: '\e'; }
.mdl2-emoji { content: '\e'; }
.mdl2-emoji-2 { content: '\e'; }
.mdl2-favorite-list { content: '\e'; }
.mdl2-favorite-star { content: '\e'; }
.mdl2-favorite-star-fill { content: '\e'; }
.mdl2-filter { content: '\e'; }
.mdl2-find-legacy { content: '\e'; }
.mdl2-flag { content: '\e'; }
.mdl2-folder { content: '\e'; }
.mdl2-font { content: '\e'; }
.mdl2-fontcolor { content: '\e'; }
.mdl2-font-decrease { content: '\e'; }
.mdl2-font-increase { content: '\e'; }
.mdl2-font-size { content: '\e'; }
.mdl2-forward { content: '\e'; }
.mdl2-four-bars { content: '\e'; }
.mdl2-full-screen { content: '\e'; }
.mdl2-globe { content: '\e'; }
.mdl2-go { content: '\e'; }
.mdl2-go-to-start { content: '\e'; }
.mdl2-go-to-today { content: '\e'; }
.mdl2-hangup { content: '\e'; }
.mdl2-help { content: '\e'; }
.mdl2-hide-BCC { content: '\e'; }
.mdl2-highlight { content: '\e'; }
.mdl2-home { content: '\e'; }
.mdl2-import { content: '\e'; }
.mdl2-import-all { content: '\e'; }
.mdl2-important { content: '\e'; }
.mdl2-italic { content: '\e'; }
.mdl2-keyboard-classic { content: '\e'; }
.mdl2-leave-chat { content: '\e'; }
.mdl2-library { content: '\e'; }
.mdl2-like { content: '\e'; }
.mdl2-like-dislike { content: '\e'; }
.mdl2-link { content: '\e'; }
.mdl2-list { content: '\e'; }
.mdl2-location { content: '\e'; }
.mdl2-mail { content: '\e'; }
.mdl2-mail-fill { content: '\e'; }
.mdl2-mail-forward { content: '\e'; }
.mdl2-mail-reply { content: '\e'; }
.mdl2-mail-reply-all { content: '\e'; }
.mdl2-manage { content: '\e'; }
.mdl2-map-drive { content: '\e'; }
.mdl2-mappin { content: '\e'; }
.mdl2-memo { content: '\e'; }
.mdl2-message { content: '\e'; }
.mdl2-microphone { content: '\e'; }
.mdl2-more { content: '\e'; }
.mdl2-move-to-folder { content: '\e'; }
.mdl2-music-info { content: '\e'; }
.mdl2-mute { content: '\e'; }
.mdl2-new-folder { content: '\e'; }
.mdl2-new-window { content: '\e'; }
.mdl2-next { content: '\e'; }
.mdl2-one-bar { content: '\e'; }
.mdl2-open-file { content: '\e'; }
.mdl2-open-local { content: '\e'; }
.mdl2-open-pane { content: '\e'; }
.mdl2-open-with { content: '\e'; }
.mdl2-orientation { content: '\e'; }
.mdl2-other-user { content: '\e'; }
.mdl2-outline-star-legacy { content: '\e'; }
.mdl2-page { content: '\e'; }
.mdl2-paste { content: '\e'; }
.mdl2-pause { content: '\e'; }
.mdl2-people { content: '\e'; }
.mdl2-permissions { content: '\e'; }
.mdl2-phone { content: '\e'; }
.mdl2-phone-book { content: '\e'; }
.mdl2-pin { content: '\e'; }
.mdl2-play { content: '\e'; }
.mdl2-post-update { content: '\e'; }
.mdl2-preview { content: '\e'; }
.mdl2-preview-link { content: '\e'; }
.mdl2-previous { content: '\e'; }
.mdl2-priority { content: '\e'; }
.mdl2-protected-document { content: '\e'; }
.mdl2-read { content: '\e'; }
.mdl2-redo { content: '\e'; }
.mdl2-refresh { content: '\e'; }
.mdl2-remote { content: '\e'; }
.mdl2-remove { content: '\e'; }
.mdl2-rename { content: '\e'; }
.mdl2-repair { content: '\e'; }
.mdl2-repeat-all { content: '\e'; }
.mdl2-repeat-one { content: '\e'; }
.mdl2-report-hacked { content: '\e'; }
.mdl2-reshare { content: '\e'; }
.mdl2-rotate { content: '\e'; }
.mdl2-rotate-camera { content: '\e'; }
.mdl2-save { content: '\e'; }
.mdl2-save-local { content: '\e'; }
.mdl2-scan { content: '\e'; }
.mdl2-select-all { content: '\e'; }
.mdl2-send { content: '\e'; }
.mdl2-set-lock-screen { content: '\e'; }
.mdl2-set-tile { content: '\e'; }
.mdl2-settings { content: '\e'; }
.mdl2-share { content: '\e'; }
.mdl2-shop { content: '\e'; }
.mdl2-show-BCC { content: '\e'; }
.mdl2-show-results { content: '\e'; }
.mdl2-shuffle { content: '\e'; }
.mdl2-slideshow { content: '\e'; }
.mdl2-solid-star-legacy { content: '\e'; }
.mdl2-sort { content: '\e'; }
.mdl2-stop { content: '\e'; }
.mdl2-street { content: '\e'; }
.mdl2-switch { content: '\e'; }
.mdl2-switch-apps { content: '\e'; }
.mdl2-sync { content: '\e'; }
.mdl2-sync-folder { content: '\e'; }
.mdl2-tag { content: '\e'; }
.mdl2-three-bars { content: '\e'; }
.mdl2-touch-pointer { content: '\e'; }
.mdl2-trim { content: '\e'; }
.mdl2-two-bars { content: '\e'; }
.mdl2-two-page { content: '\e'; }
.mdl2-underline { content: '\e'; }
.mdl2-undo { content: '\e'; }
.mdl2-un-favorite { content: '\e'; }
.mdl2-un-pin { content: '\e'; }
.mdl2-un-sync-folder { content: '\e'; }
.mdl2-up { content: '\e'; }
.mdl2-upload { content: '\e'; }
.mdl2-video-chat { content: '\e'; }
.mdl2-view { content: '\e'; }
.mdl2-view-all { content: '\e'; }
.mdl2-volume { content: '\e'; }
.mdl2-webcam { content: '\e'; }
.mdl2-world { content: '\e'; }
.mdl2-zero-bars { content: '\e'; }
.mdl2-zoom { content: '\e'; }
.mdl2-zoom-in { content: '\e'; }
.mdl2-zoom-out { content: '\e'; }
.mdl2-battery-unknown { content: '\e'; }
.mdl2-battery-0 { content: '\e'; }
.mdl2-battery-1 { content: '\e'; }
.mdl2-battery-2 { content: '\e'; }
.mdl2-battery-3 { content: '\e'; }
.mdl2-battery-4 { content: '\e'; }
.mdl2-battery-5 { content: '\e'; }
.mdl2-battery-6 { content: '\e'; }
.mdl2-battery-7 { content: '\e'; }
.mdl2-battery-8 { content: '\e'; }
.mdl2-battery-9 { content: '\e'; }
.mdl2-battery-10 { content: '\e'; }
.mdl2-battery-charging-0 { content: '\e'; }
.mdl2-battery-charging-1 { content: '\e'; }
.mdl2-battery-charging-2 { content: '\e'; }
.mdl2-battery-charging-3 { content: '\e'; }
.mdl2-battery-charging-4 { content: '\e'; }
.mdl2-battery-charging-5 { content: '\e'; }
.mdl2-battery-charging-6 { content: '\e'; }
.mdl2-battery-charging-7 { content: '\e'; }
.mdl2-battery-charging-8 { content: '\e'; }
.mdl2-battery-charging-9 { content: '\e'; }
.mdl2-battery-charging-10 { content: '\e'; }
.mdl2-battery-saver-0 { content: '\e'; }
.mdl2-battery-saver-1 { content: '\e'; }
.mdl2-battery-saver-2 { content: '\e'; }
.mdl2-battery-saver-3 { content: '\e'; }
.mdl2-battery-saver-4 { content: '\e'; }
.mdl2-battery-saver-5 { content: '\e'; }
.mdl2-battery-saver-6 { content: '\e'; }
.mdl2-battery-saver-7 { content: '\e'; }
.mdl2-battery-saver-8 { content: '\e'; }
.mdl2-battery-saver-9 { content: '\e'; }
.mdl2-battery-saver-10 { content: '\e'; }